.main {
  max-width: 1100px;
  margin: 0 auto;
}

.title {
  margin-bottom: 20px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 25px;
  margin-top: 35px;
}

.headerLeft {
  position: relative;
  height: 20px;
  display: flex;
  align-items: center;
}

.searchIcon {
  position: absolute;
  width: 20px;
  height: 20px;
  left: 15px;
}

.searchInput, .modalInput, .modalInputTextArea {
  padding: 10px 10px 10px 50px;
  margin-right: 20px;
  width: 403px;
  height: 50px;
  background: #F5F4F6 0% 0% no-repeat padding-box;
  border: 1px solid #EBEAED;
  border-radius: 5px;
  opacity: 1;
  transition: 0.1s;
  text-align: left;
font: normal normal normal 20px/25px Source Sans Pro;
letter-spacing: 0px;
color: #170C3A;
}

.searchInput:focus {
  background: #EBEAED 0% 0% no-repeat padding-box;
  border: 1px solid #DEDCE1;
  border-radius: 5px;
  opacity: 1;
  outline: none;
}

.searchInput::placeholder {
  text-align: left;
font: normal normal normal 20px/26px Source Sans Pro;
letter-spacing: 0.4px;
color: #B1ADB9;
}

.searchLabel {
  margin-left: 10px;
  text-align: left;
  font: normal normal normal 20px/26px Source Sans Pro;
  letter-spacing: 0.4px;
  color: #170C3A;
}

.addButton, .saveButton, .cancelButton {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 30px;
  margin-right: 22px;
  width: 174px;
  height: 50px;
  background: #365DF0 0% 0% no-repeat padding-box;
  border-radius: 5px;  
  transition:  0.2s;
  cursor: pointer;
  outline: none;
  border: none;
}

.addButton:hover, .saveButton:hover {
  background: #2F55CC 0% 0% no-repeat padding-box;
}

.addButton:active, .saveButton:active {
  background: #244AA8 0% 0% no-repeat padding-box;
}

.addLabel {
  color: #FFFFFF;
  text-align: center;
  font: normal normal 600 18px/24px Source Sans Pro;
  letter-spacing: 0.36px;
  width: 80px
}

.noPosts {
  width: 100%;
  height: 60vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
}

.notFound {
  margin-top: 50px;
}

.modal {
  width: 100vw;
  height: 100vh;
  background-color: #170C3AE6;
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modalHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.closeModal {
  cursor: pointer;
}

.modalBody {
  background-color: white;
  width: 600px;
  background: #FFFFFF 0% 0% no-repeat padding-box;
  box-shadow: 0px 20px 25px #0000001A;
  border-radius: 5px;
  padding: 30px;
}


.modalContent {
  padding: 20px 50px;
}

.modalLabel { 
  display: block;
  color: #8F8A9B;
  margin-bottom: 5px;
  margin-top: 20px;
}

.modalInput, .modalInputTextArea {
  padding-left: 20px;
  width: 100%;
}
.modalFooter {
  margin-top: 30px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.cancelButton {
  width: 122px;
  height: 50px;
  background: #E1E7FD 0% 0% no-repeat padding-box;
  border-radius: 5px;
  justify-content: center;
  color: #365DF0;
  font: normal normal 600 18px/24px Source Sans Pro;
}

.cancelButton:hover  {
  background: #CAD6FC 0% 0% no-repeat padding-box;
}

.cancelButton:active {
  background: #B9C6FA 0% 0% no-repeat padding-box;
}

.saveButton {
  width: 122px;
  height: 50px;
  color: white;
  justify-content: center;
  margin-right: 0;
  font: normal normal 600 18px/24px Source Sans Pro;
}

.modalInputTextArea {
  resize: none;
  min-height: 120px;
}

.addTags {
  position: relative;
}

.addTag {
  fill: none; 
  stroke: #8F8A9B;
  stroke-miterlimit: 10;
  stroke-width: 10px; 
  transform: rotate(45deg);
  width: 15px;
  height: 15px;
  position: absolute;
  top: 18px;
  right: 20px;
  transition: 0.2s ease-in-out;
}

.addTag:hover {
  stroke: #5a5959;
  cursor: pointer;
}

.tagsContainer {
  display: flex;
  margin-top: 15px;
}

.tag {
  display: flex;
  align-items: center;
  height: 30px;
  padding-left: 12px;
  padding-right: 12px;
  padding-bottom: 2px;
  margin-right: 10px;
  background-color: #e2e2e2;
  border-radius: 15px;
  cursor: pointer;
  transition: 0.2s ease-in-out;
}

.removeTag {
  margin-left: 10px;
}

.tag:hover {
  background-color: #d3d3d3;
}